<!DOCTYPE html>
<!-- Thymeleaf Namespace -->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Choose mode</title>
    </head>
    <body>
        <div style=" width: 100%; max-width: 1024px;  height :100%; margin: auto; background: silver">
            <table style=" width: 100%; max-width: 1024px;   height :100%; ">
                <tr>
                    <th id="tableOfAd" style="width: 80%; vertical-align: top">
                        <table style=" width: 100%; margin: 0;  float:left; ">
                            <tr>
                                <th class="thh" style=" width: 80%; max-width: 600px; ">Description</th>
                                <th class="thh" style=" width: 20%; ">Button</th>
                            </tr>

                            <tbody>
                                <tr th:each="game: ${listOfGames}">
                                    <th class="thh" style=" width: 80%; max-width: 600px; " th:text="${game.comment}"></th>
                                    <th class="thh" style=" width: 20%; ">
                                        <form method="post" action="/startGame">
                                            <p>
                                                <input type="hidden" name="game"
                                                       value="game.user1.username"/>
                                                <input type="submit" value="Join"/>
                                            </p>
                                        </form>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                    <th style="">
                        <div id="inf" style=" height: 100%; ">
                            <form action="#" th:action="@{/}" th:object="${game}" method="post">
                                <p>
                                    <b>Надпись:</b>
                                </p>
                                <p>
                                    <input type="text" th:field="*{comment}" />
                                    <input type="hidden" th:field="*{user1}" value="user.username" />
                                </p>
                                <p>
                                    <input type="submit" value="Создать"/>
                                </p>
                            </form>
                        </div>
                    </th>
                </tr>
            </table>
        </div>

    </body>
    <style type="text/css">
        .thh{padding: 3px; border: 1px solid black; }
    </style>
</html>